* {
  box-sizing: border-box;
}
/* reset */
html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.container {
  max-width: 570px;
  margin: 0 auto;
}

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
}
h2 {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 25px 0;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 32px;
  margin-bottom: 0;
}
.small {
  font-size: 16px;
  margin: 0;
}
p {
  margin-bottom: 0;
}
a {
  color: #99d930;
  font-weight: 900;
}
a:hover,
a:focus {
  color: #131313;
}

.bold-text {
  display: block;
}

.bold-text,
.author,
time {
  font-weight: 900;
  color: #99d930;
}

header,
section {
  padding: 100px 0;
}

.bg-dark {
  background-color: #252525;
  color: #fff;
}

/* buttons */
.btn {
  background-color: #99d930;
  color: #000;
  display: inline-block;
  padding: 15px 30px;
  margin: 20px 0;
  text-decoration: none;
  font-weight: 900;
}

.btn:hover,
.btn:focus {
  background-color: #000;
  color: #fff;
}
.articles .btn:hover,
.articles .btn:focus {
  background-color: #fff;
  color: #252525;
}
